:root {
    --purple: #803079;
    --lightpurple: #F2E9F2;
    --darkpurple: #38042F;
    --darkpurplesheer: rgba(56, 4, 47, 0.8);
    --orange: #e49157;
    --white: #fff;
    --deco: 'Acme', sans-serif;
    --body: 'Hind Guntur', sans-serif;
}

body {
    font-family: var(--body);
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-family: var(--deco);
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

.toTop {
    margin-top: 0;
    padding: 0;
}

.fa-arrow-up {
    color: var(--orange);
}

.myNav {
    background-color: var(--purple);
}

.title {
    color: var(--white);
    font-size: 3.5rem;
    padding: 0.3em 0 0;
}

.myNav ul{
    background-color: var(--purple);
    font-family: var(--deco);
    font-size: 1.3rem;
    width: 100%;
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
}

.sticky + .alert {
    padding-top: 10%;
  }


a.nav-link {
    color: var(--white);
    margin: 0.5em 1em;
    border: 5px solid transparent;
    font-size: 1.5rem;
    padding: 0;
}

.nav-item {
    padding: 0;
}

.anchor{
    display: block;
    height: 6em; /*same height as header*/
    margin-top: -6em; /*same height as header*/
  }

a.nav-link:hover,
a.active {
    color: white;
    border-bottom: 5px solid var(--orange);
}

div.alert-light {
    color: var(--white);
    background-color: var(--darkpurple);
    border-radius: 0;
    border: none;
    text-align: center;
    margin: 0;
}

.alert-lg {
    display: block;
}

.alert-mobile {
    display: none;
}

.fa-facebook {
    border: 3px solid var(--orange);
    text-decoration: none;
    color: var(--orange);
    padding: 1em 1.1em;
    margin: 0 1em;
    border-radius: 10px;
}

.fa-facebook:hover {
    color: var(--orange);
    filter: brightness(130%);
}

.jumbotron {
    background-color: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.top-CTA {
    background-color: var(--darkpurple);
}

a.CTA-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    min-height: 100px;
    margin: 1em 2em;
    padding: 1em 0;
    font-family: var(--deco);
    font-size: 1.3rem;
    line-height: 1.3rem;
    border: none;
    border-radius: 10px;
    outline: solid 2px var(--darkpurple);
    outline-offset: -8px;
}

figcaption {
    font-family: var(--body);
    font-size: 1rem;
    margin-top: 5px;
}

a.btn, 
input.btn,
a.btn {
    background-color: var(--orange);
    border: none;
    transition: 0.2s ease-in-out;
}

a.btn:hover,
a.btn:active, 
input.btn:hover,
input.btn:active {
    background-color: var(--orange);
    filter:brightness(110%);
}

a.btn:visited,
a.btn:focus,
input.btn:visited,
input.btn:focus {
    background-color: var(--orange);
}

.brunch {
    margin: 2em 0;
    border-radius: 10px;
    width: 98%;
    margin: 2em 1% 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brunchText {
    background-color: var(--darkpurplesheer);
    outline: solid 2px var(--orange);
    outline-offset: -15px;
    color: var(--white);
    width: 80%;
    max-width: 30em;
    transform: translate(0, 9em);
    border-radius: 20px;
    padding: 3em 1em;
}

.brunchText > * {
    padding: 0 2em 0;
    text-align: center;
}

.brunchText p {
    font-size: 1.3rem;
}

.menuHeader {
    margin-top: 2em;
    color: var(--purple)
}

.menuDetails {
    text-align: center;
    width: 90%;
    margin: 0 auto 0.5em;
    color: var(--darkpurple);
}

.accordion {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 5%;
}

button.accordion-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: solid 5px transparent;
}

button.accordion-button:not(.collapsed) {
    background-color: white;
    color: var(--purple);
    border: solid 5px var(--lightpurple);
}

button.accordion-button:hover, 
button.accordion-button:active, 
button.accordion-button:visited, 
button.accordion-button:focus{
    border: solid 5px var(--lightpurple);
    z-index: 0;
}

button.accordion-button img {
    width: 100%;
    padding: 0 0 1em 0;
    border-radius: 50%;
}

div.menuItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuPhoto {
    object-fit: cover;
}

div.accordion-item {
    border: none;
    max-width: 20em;
}

div.accordion-body {
    text-align: center;
    background-color: var(--lightpurple);
    color: var(--darkpurple);
    max-width: 20em;
}

div.catering {
    border: solid 5px var(--purple);
    padding: 1em;
    border-radius: 10px;
    width: 80%;
    margin: 6em auto 10em;
    color: var(--darkpurple);
}

.catering h2 {
    color: var(--darkpurple);
}

.catering p {
    text-align: center;
    width: 40%;
    margin: 0em auto 0.5em;
}

p.payment {
    width: 30%;
    margin: 2em auto 1em;
}

a.cateringBtn {
    padding: 0.4em 2em 0.3em;
    margin: 1.5em 0;
}

input.submitBtn {
    width: 34%;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 0.5em 33%;
    padding: 1em 1em 0.8em;
    border-radius: 10px;
    font-weight: 500;
}

.cateringInput {
    width: 60%;
    margin: 0 20%;
}

.cateringEvents {
    display: flex;
    justify-content: center;
}

.eventInfo {
    width: 15%;
    margin: 0 2em;
}

.eventInfo .form-control,
.eventName .form-control {
    text-align: center;
}

div.cateringFood {
    max-height: 25em;
    background-color: var(--lightpurple);
    width: 45%;
    padding: 1em 5%;
    margin: 0 auto;
    font-size: 1.1rem;
    border-radius: 10px;
    overflow-y: scroll;
}

.form-check {
    margin: 1em 0;
}

.form-label {
    text-align: center;
    width: 100%;
}

.form-check-label {
    margin-top: 1.5px;
}

div.history {
    background-color: var(--darkpurple);
    width: 100%;
    margin: 2em 0 8em;
    min-height: 10em;
    color: var(--white);
    outline: solid 2px var(--orange);
    outline-offset: -15px;
}

.historyText {
    width: 80%;
    margin: 0 auto;
    color: var(--white);
    font-size: 1.3rem;
    padding: 2em 0;
}

.historyText > * {
    padding: 0 4em 0;
    text-align: center;
}

div.galleryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.galleryContainer h3 {
    color: var(--purple);
    padding: 0.4em 0 0 0;
}

.gallerySocial {
    display: flex;
    align-items: center;
    padding: 0em 10% 1em 5%;
}

div.carousel-item img {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}


.footer {
    background-color: var(--purple);
    margin: 2em 0 0;
    min-height: 10em;
    color: var(--white);
}

.footerText {
    width: 80%;
    margin: 0 10%;
    color: var(--white);
    font-size: 1.2rem;
    padding: 2em 0;
}

.footerText > * {
    padding: 0 4em 0;
    text-align: center;
}

.copyright {
    font-size: 0.85em;
}

@media only screen and (max-width: 1024px) {
    
    .historyText {
        width: 90%;
    }

    .accordion {
        max-width: 50em;
        justify-content: flex-start;
        margin: 0 auto;
        overflow-x: scroll;
    }

    .accordion-item {
        width: 15em;
        padding: 0;
    }
    
    button.accordion-button {
        font-size: 1.1rem;
    }
    
    input.submitBtn {
        width: 40%;
        margin: 0 30%;
    }
}

@media only screen and (max-width: 980px) {

    button.accordion-button img {
        width: 100%;
    }

    div.catering {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    /* body {
      background-color: lightblue;
    } */

    .accordion {
        max-width: 35em;
    }

    button.accordion-button img {
        width: 95%;
        padding: 0 0 0.5em 0;
    }

    .accordion-item {
        width: 20em;
    }

    a.CTA-btn {
        width: 40%;
        margin: 1em 0.5em;
    }

    a.menuBtn {
        width: 60%;
    }

    .catering p {
        width: 50%;
    }

    .cateringInput {
        width: 74%;
        margin: 0 13%;
    }

    .eventInfo {
        width: 20%;
        margin: 0 1em;
    }

    div.cateringFood {
        width: 60%;
        max-height: 20em;
    }

    input.submitBtn {
        width: 70%;
        text-transform: uppercase;
        font-size: 1.1rem;
        margin: 0.5em 15%;
        padding: 1.2em 0;
        border-radius: 10px;
    }

    .historyText {
        width: 100%;
    }

    div.galleryContainer {
        width: 80%;
    }

    .gallerySocial {
        flex-direction: column;
        padding: 0 10% 1em;
    }
  }

  @media only screen and (max-width: 620px) {
      a.nav-link {
          width: 6.8em;
          text-align: center;
          margin: 0 1em;
      }

      .accordion {
          width: 25em;
      }
  }

  @media only screen and (max-width: 425px) {
    
    .accordion {
        max-width: 22em;
    }

    .accordion-item {
        width: 18em;
    }
    
    .title {
        font-size: 2.5rem;
    }

    .myNav ul {
        flex-wrap: wrap;
    }

    a.nav-link {
        width: 5em;
    }

    .sticky + .alert {
        padding-top: 36%;
      }

    button.accordion-button img {
        width: 95%;
        padding: 0 0 0.5em 0;
    }

    a.CTA-btn {
        font-size: 1.3rem;
        width: 80%;
    }

    .alert-light {
        text-align: left;
    }

    .alert-lg {
        display: none;
    }

    .alert-mobile {
        display: block;
    }

    .brunch {
        width: 100%;
        margin: 2em 0 4em;
    }

    .menuContainer {
        width: 90%;
        margin: 0 5%;
    }

    a.menuBtn {
        width: 75%;
        margin: 0 0.5em;
    }

    div.catering {
        margin: 6em auto;
    }

    .catering p {
        width: 85%;
        margin: 0em auto 1em;
    }

    .cateringInput {
        width: 90%;
        margin: 0 5%;
    }

    .eventInfo {
        width: 33%;
        margin: 0 0.2em;
    }

    div.cateringFood {
        width: 80%;
        margin: 0 auto 1em;
    }

    p.payment {
        width: 60%;
        margin: 0.5em auto 1em;
    }

    input.submitBtn {
        width: 90%;
        margin: 0 5%;
        padding: 1em 0;
    }

    .historyText {
        width: 100%;
        margin: 0;
        color: var(--white);
        font-size: 1rem;
        padding: 2em 0;
    }
    
    .historyText > * {
        padding: 0 2em 0;
    }

    div.carousel-item img {
        width: 100%;
        height: 250px;
    }

    .footerText {
        width: 100%;
        margin: 0;
        font-size: 1rem;
    }
  }